[connect]
user : root
keyfile : /path/top/private/key/.ssh/id_rsa
keypass : SuperSecretKeyFilePassword
authfile : /root/.ssh/authorized_keys
authfile2 : /root/.ssh/authorized_keys2
timeout : 10
port : 22
[insert]
eaydin : ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD8am213MKgHxsgeEfBS4ALcBihpAfNbFB5CR2esam2tkFT39YAkrDkX6ViCmUPNvg0aiSQU743pN5+v6/qbN3kw1PUiab2zmUE3    7d3BrXhaB/ud2hXVuV+8JQlTjx3G5XzX+iFzbaxVhaADLayGNFRQ2hJOH0zWxDi4Z414Sqt31r6fAodvCVlPRce5PkNGLY+6fYOw9VsdRiIcm3sTBQj1iH/0UMK1dkKfr9iMCbCu8    0DCbukq2msP//1OX70EZEklEHuY/ueWb2noO+NkNSac8d7yg7EqJVGZkY44KSiHeiYGq77mnjB6PX3VAMzg8Tt0l3dO+q2mTfD9pRySRvx emre.m.aydin@gmail.com
[delete]
old-tech-guy-1 : somepublickeygoesHERE @also the comments
old-techg-guy-2 : someOtherpublickeyGOEShere
